Find the number 8/Service References/ScoreService/ScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScoreEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreEntry" nillable="true" type="tns:ScoreEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreEntry" nillable="true" type="tns:ArrayOfScoreEntry" />
  <xs:complexType name="ScoreEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreEntry" nillable="true" type="tns:ScoreEntry" />
</xs:schema>